<section class="cert" aria-label="Certificações e marcas">
  <div class="cert-in">
    <div class="cert-selos">
      <div class="selo">
        <span class="selo-sigla">APIRAC</span>
        <span class="selo-txt">Associação Portuguesa da Indústria de Refrigeração e Ar Condicionado<br><span class="selo-num">[Nº DE ASSOCIADO APIRAC]</span></span>
      </div>
      <div class="selo">
        <span class="selo-sigla">IMPIC</span>
        <span class="selo-txt">Instituto dos Mercados Públicos, do Imobiliário e da Construção<br><span class="selo-num">[TIPO E Nº DO TÍTULO IMPIC]</span></span>
      </div>
    </div>
    <div class="cert-marcas">
      <p class="rotulo">Multimarca, peças originais</p>
      <ul class="marcas">
        <li>Mitsubishi Electric</li><li>Daikin</li><li>Panasonic</li><li>Midea</li><li>LG</li><li>Hitachi</li><li>Climaveneta</li><li>Vulcano</li><li>France Air</li>
      </ul>
    </div>
  </div>
</section>
